<div class="special-container">
  <%= image_tag "Smashin-2.jpg", width: "100%", height: "100%", class: "d-inline-block align-top", alt: "Home" %>

  <div class="centered-top">
  </br></br>
    <h1 style="color: black; font-family: SCRIPTIN; font-size: 85px; font-weight: bold;">
      Smashin English
    </h1>
  </div>

  </br></br>

  <div class=row-fluid>r
    <h3 style="color: black; font-family: SCRIPTIN;font-size: 60px;">
          More Words! Bigger Words! Better Words!
    </h3>
  </div>

  </br></br>

  <h3 style="color: black; font-family: SCRIPTIN;font-size: 30px;">
        Get Started:
  </h3>

  <%= link_to 'Grammar', grammar_path, class: 'nav-link' %>
  <%= link_to 'Sentence Structure', sentence_structure_path, class: 'nav-link' %>
  <%= link_to 'Vocabulary Building', vocabulary_building_path, class: 'nav-link' %>
  <%= link_to 'Essay Writing', essay_writing_path, class: 'nav-link' %>
  <%= link_to 'Story Writing', story_writing_path, class: 'nav-link' %>
  <%= link_to 'Rhetorical Devices', rhetorical_devices_path, class: 'nav-link' %>
  <%= link_to 'Classic English', classic_english_path, class: 'nav-link' %>

</div>
