<h1> Sentence Structure </h1>

<nav class="breadcrumb row">
  <h4>
    <%= link_to 'Grammar', grammar_path, class: 'breadcrumb-item' %>
    <%= link_to 'Sentence Structure', sentence_structure_path, class: 'breadcrumb-item active' %>
    <%= link_to 'Vocabulary Building', vocabulary_building_path, class: 'breadcrumb-item' %>
    <%= link_to 'Essay Writing', essay_writing_path, class: 'breadcrumb-item' %>
    <%= link_to 'Story Writing', story_writing_path, class: 'breadcrumb-item' %>
    <%= link_to 'Rhetorical Devices', rhetorical_devices_path, class: 'breadcrumb-item' %>
    <%= link_to 'Classic English', classic_english_path, class: 'breadcrumb-item' %>
  </h4>
</nav>

<div class="row">

  <div class="col-lg-6">
    <%= image_tag "eugenio-mazzone-190204-unsplash-min.jpg", class: "media thumbnail img", style: 'height:500px; width:500px; padding:1px;' %>
  </div>

  <div class="col-lg-6">
    <h1> Content... <h1>
  </div>

</div>

</br></br>

<div class="row-fluid">
  <h2>More Content... </h2>
</div>
